@charset "utf-8";
@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' );

body {
	font-family: "Source Sans Pro", monospace;
	padding-top: 70px;
	color: rgb( 80, 80, 80 );
	text-align: justify;
	font-size: 15pt;
	font-weight: 300;
}
h1 {
	text-transform: uppercase;
}
div.livre-out {
}
div.livre-in {
	padding: 20px 0;
}
div.myfigure {
	max-width: 186px;
	margin: 0 auto;
}
div.myfigure img {
	max-width: 100%;
	margin: 0 auto;
	height: 286px;
}
nav .fa {
    font-size: 50px;
}
